.footer {
    padding: 16px;

    font-size: 1.2rem;
    text-align: center;

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.copyright-notice::after {
    content: "© 2021 Ahmad Syafiq Aqil Wafi. All rights reserved.";
}