.header {
    position: sticky;
    top: 0px;
    left: 0px;

    z-index: 100;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 16px;

    background-color: var(--primary-color);
    color: var(--light-color);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 5px;
}

.header__logo-img {
    margin-right: 10px;
    margin-top: -10px;
    font-size: 1.5rem;

    width: 40px;
    height: 40px;

    color: var(--light-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__logo-text {
    font-size: 1.5rem;
}

.navigation {
    font-size: 1.5rem;
}

.navigation__links {
    display: flex;
    flex-direction: row;
}

.navigation__link-item {
    margin-right: 60px;
    text-align: center;
    list-style-type: none;
}

.navigation__link-item:last-child {
    margin-right: 0px;
}

.navigation__button {
    display: none;
}

.navigation__vignette {
    display: none;
}

@media (max-width: 800px) {
    .navigation {
        position: fixed;

        margin: 0px;
        padding: 1rem;
        
        left: 50vw;
        top: 50vh;

        transform: translate(-50%, -50%);

        z-index: 1000;

        width: 90vw;

        background-color: var(--primary-color);

        border-radius: 16px;

        /* box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.4); */
    }
    
    .navigation--hidden {
        display: none;
    }    
    
    .navigation__links {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;        
    }

    .navigation__link-item {
        margin: 0px;
        margin-bottom: 40px;
    }

    .navigation__link-item:last-child {
        margin: 0px;
        margin-bottom: 10px;
    }

    .navigation__button {
        display: block;

        background-color: transparent;
        color: white;

        border: none;

        cursor: pointer;
    }

    .navigation__vignette {
        display: block;

        position: fixed;

        z-index: 500;

        left: 0px;
        top: 0px;
        
        width: 100vw;
        height: 100vh;

        background-color: rgba(0, 0, 0, 0.25);
    }

    .navigation__vignette--hidden {
        display: none;
    }
}