.landing-content {
    background-color: var(--primary-color);

    min-height: 100px;
}

.landing-content__shortener-form {
    display: flex;
    flex-direction: row;
}

.landing-content__shortener-form > * {
    margin-right: 1rem;
}

.landing-content__shortener-form > *:last-child {
    margin-right: 0px;
}

.landing-content__account-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    gap: 20px;
}

.landing-content__share-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 80vw;

    font-size: 1.2rem;

    padding: 2.5rem;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 16px;
}

@media(max-width: 700px) {
    .landing-content__account-form {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 400px) {
    .landing-content__shortener-form {
        display: flex;
        flex-direction: column;
    }

    .landing-content__shortener-form > * {
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
    
    .landing-content__shortener-form > *:last-child {
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .landing-content__account-form {
        align-items: center;
    }

    .landing-content__account-form .form__group-item {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .landing-content__account-form .form__btn {
        align-self: center;
    }

    .landing-content__account-form .form__group-item:last-child .form__item-header {
        padding: 0px;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}