@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

:root {
  --shadow-color: #000000;
  --primary-color: #A45D5D;
  --secondary-color: #EFEFEF;
  --light-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Schoolbell', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  background-color: var(--secondary-color);
}

main {
  min-height: 75vh;
}

.page {
  min-height: 100vh;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--light-color);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  padding: 10px 40px;

  font-family: 'Schoolbell', cursive;

  border-radius: 12px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  text-shadow: none;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.btn--secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn--medium {
  font-size: 1.2rem;
}

input[type=text] {
  padding: 10px 40px;

  font-family: 'Schoolbell', cursive;
  font-size: 1.2rem;

  height: 50px;
  width: 500px;

  background-color: var(--light-color);
  color: var(--primary-color);

  border-radius: 12px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}